<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key ="activeConnection"  value="SqlDatabaseConnection"/>
    </appSettings>
    <connectionStrings>
        <add name="SqlDatabaseConnection" 
         connectionString="data source=(local);Integrated Security =SSPI; Initial Catalog=Northwind" 
         providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>